
#homebg{
background-image: url("homebg.png") ;
background-repeat: no-repeat;
height: 92vh;
background-size: 100%;
}
.features{
    padding: 5px;
    height: fit-content;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.335);
}
.city{
    background-image: url("homebg.png");
    height: 250px;
    background-size: 100%;
    border: 3px solid black;
}
.cityname{
    position:relative;
    top: 220px;
    background-image: radial-gradient(#ffb2b2,rgba(0, 0, 255, 0));
    text-align: center;
}